@import '../../variables';

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: $navbar-height;
    color: rgb(11, 11, 11);
    border-bottom: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
  
    &__section {
      display: flex;
      align-items: center;
      gap: 20px;
  
      &--left {
        justify-content: start;
      }
  
      &--right {
        justify-content: end;
      }
    }
  
    &__brand {
      display: flex;
      font-size: 20px;
      color: blue;
  
      span {
        display: block;
      }
    }
  
    &__search {
      display: flex;
      align-items: center;
      border: 1px solid lightgrey;
      border-radius: 6px;
      padding: 5px;
    }
  
    &__icon {
      font-size: 20px;
    }
  
    &__user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
    }
  
    &__input {
      flex-grow: 1;
      border: none;
      margin-left: 10px;
    }
  }
  